* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    gap: 1.5rem;
    margin: 1rem 0;
}

.layout_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.cards {
    border: 2px solid rgb(248, 63, 55);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0.4rem 0.4rem grey;
    transition: all 0.5s ease-out;
}

.cards:hover {
    transform: translateY(-0.5rem);
}

.cards-header {
    margin: 0;
}
.cards-sublabel {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    transition: all 0.5s linear;
}

.cards-sublabel:hover {
    color: red;
}

.student-portrait {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 1rem auto;
    border: white solid 5px;
    box-shadow: 0 5px 10px rgb(80,80,80);
}