<main class="layout_1-2">
    <div class="cards">
        <h3 class="cards-header">Administration</h3>
        <p class="cards-details">There are a number of approved applicants on the waitlist if there are slots available in any Batches.</p>
        <form action="/main/student/new" method="post">
            <button class="cards-button">Accept student</button>
        </form>

        <h3>New staff</h3>
        <p class="cards-details">A new staff is ready for onboarding. An account needs to be set up prior.</p>
        <form action="/main/admin/new" method="get">
            <button class="cards-button">Set up staff account</button>
        </form>
    </div>

    <div class="cards">
        <h3 class="cards-header">Notifications</h3>
        <p class="cards-details">There are no new messages in your inbox, <%= user["name"].split.first %>.</p>
        <br>
        <h3>Next class</h3>
        <p class="cards-details">Your next scheduled class is <span class="emphasis">Introduction to Ruby</span> at 11.00 am, Monday</p>
    </div>

</main>