<section>
    <img src="/general-assembly-banner.jpg" alt="logo" height="200px">
    <h1>Hello! Welcome to General Assembly</h1>
</section>

<main class="cards">
    <h2>Please login to access the portal</h2>
    <form action="/login" method="post">
        <input type="text" placeholder="Insert email" name="email" value="cd@ga.co"> <br>
        <input type="password" placeholder="Insert password" name="password" value="staff"> <br>
        <button>Login</button>
    </form>
</main>