<main class="login-card">
    <div class="login-banner">
        <img src="/general-assembly-banner.jpg" alt="logo" height="200px">
        <h1>Hello! Welcome to General Assembly</h1>
    </div>

    <div class="cards">
        <h2>Please login to access the portal</h2>
        <form action="/login" method="post">
            <input class="input-box" type="text" placeholder="Insert email" name="email" value="cd@ga.co">
            <input class="input-box" type="password" placeholder="Insert password" name="password" value="staff">
            <button class="cards-button">Login</button>
        </form>
        <br>
    </div>
</main>